<div class="custom-header">
  <div class="custom-header__left">
    <div class="custom-header__logo">
      <!-- logo here -->
    </div>
    <ul class="custom-header__breadcrumbs">
      <!-- new bredcrumbs -->
    </ul>
    <div class="custom-header__title">Кастомизация и&nbsp;геймификация GetCourse</div>
    <div class="custom-header__subtitle">
      Описание тренинга здесь, можно его сделать в&nbsp;две строки
    </div>
    <div class="custom-header__data">
      <div class="custom-progress__percent">0%</div>
      <div class="custom-header__task">
        0&nbsp;из&nbsp;0
        <div class="custom-header__units">заданий</div>
      </div>
      <div class="custom-header__access">
        0&nbsp;дней
        <div class="custom-header__units">доступа</div>
      </div>
      <div class="custom-progress__scale-wrap">
        <div class="custom-progress__scale"></div>
      </div>
    </div>
  </div>
  <div class="custom-header__right">
    <img
      src="https://fs.getcourse.ru/fileservice/file/download/a/600892/sc/4/h/1756b01e16f403e482b59429d62e81a8.png"
      alt=""
    />
    <div class="custom-header__links-wrap">
      <a
        href="/"
        class="custom-header__link"
        >Новости</a
      >
      <a
        href="/"
        class="custom-header__link"
        >Канал потока</a
      >
      <a
        href="/"
        class="custom-header__link"
        >Бот в <b> telegram</b></a
      >
    </div>
  </div>
</div>
