<div class="custom-lessons">
  <a
    href="/"
    class="custom-lessons__item custom-lesson user-state-reached"
  >
    <div class="custom-lesson__state">Доступен</div>
    <div class="custom-lesson__title">UX/UI: дизайн цифровых продуктов</div>
    <div class="custom-lesson__description">
      Освойте навык графического дизайн и коммуникаций с нуля
    </div>
    <div class="custom-lesson__button">
      <span>Перейти</span>
    </div>
  </a>
  <a
    href="/"
    class="custom-lessons__item custom-lesson user-state-accomplished"
  >
    <div class="custom-lesson__state">Принят</div>
    <div class="custom-lesson__title">UX/UI: дизайн цифровых продуктов</div>
    <div class="custom-lesson__description">
      Освойте навык графического дизайн и коммуникаций с нуля
    </div>
    <div class="custom-lesson__button">
      <span>Перейти</span>
    </div>
  </a>
  <a
    href="/"
    class="custom-lessons__item custom-lesson user-state-answered"
  >
    <div class="custom-lesson__state">На проверке</div>
    <div class="custom-lesson__title">UX/UI: дизайн цифровых продуктов</div>
    <div class="custom-lesson__description">
      Освойте навык графического дизайн и коммуникаций с нуля
    </div>
    <div class="custom-lesson__button">
      <span>Перейти</span>
    </div>
  </a>
  <a
    href="/"
    class="custom-lessons__item custom-lesson user-state-has_mission"
  >
    <div class="custom-lesson__state">Есть задание</div>
    <div class="custom-lesson__title">UX/UI: дизайн цифровых продуктов</div>
    <div class="custom-lesson__description">
      Освойте навык графического дизайн и коммуникаций с нуля
    </div>
    <div class="custom-lesson__button">
      <span>Перейти</span>
    </div>
  </a>
  <a
    href="/"
    class="custom-lessons__item custom-lesson user-state-need_accomplish"
  >
    <div class="custom-lesson__state">Cтоп-урок</div>
    <div class="custom-lesson__title">UX/UI: дизайн цифровых продуктов</div>
    <div class="custom-lesson__description">
      Освойте навык графического дизайн и коммуникаций с нуля
    </div>
    <div class="custom-lesson__button">
      <span>Перейти</span>
    </div>
  </a>
  <a
    href="/"
    class="custom-lessons__item custom-lesson user-state-not_reached"
  >
    <div class="custom-lesson__state">Недоступен</div>
    <div class="custom-lesson__title">UX/UI: дизайн цифровых продуктов</div>
    <div class="custom-lesson__description">
      Освойте навык графического дизайн и коммуникаций с нуля
    </div>
    <div class="custom-lesson__button">
      <span>Перейти</span>
    </div>
  </a>
  <a
    href="/"
    class="custom-lessons__item custom-lesson user-state-not_reached custom-has-date"
  >
    <div class="custom-lesson__state">Недоступен</div>
    <div class="custom-lesson__title">UX/UI: дизайн цифровых продуктов</div>
    <div class="custom-lesson__description">
      Освойте навык графического дизайн и коммуникаций с нуля
    </div>
    <div class="custom-lesson__button">
      <span>19 янв в 14:00</span>
    </div>
  </a>
</div>

