<a
  href="/"
  class="custom-content__course custom-course"
>
  <div class="custom-course__number">1</div>
  <div class="custom-course__data-wrap">
    <div class="custom-course__title">Fullstack-разработчик на&nbsp;Python</div>
    <div class="custom-course__description">2&nbsp;урока</div>
  </div>
  <div class="custom-course__button">Купить</div>
</a>
<a
  href="/"
  class="custom-content__course custom-course"
>
  <div class="custom-course__number">1</div>
  <div class="custom-course__data-wrap">
    <div class="custom-course__title">Fullstack-разработчик на&nbsp;Python</div>
    <div class="custom-course__description">2&nbsp;урока</div>
  </div>
  <div class="custom-course__button">Купить</div>
</a>
<a
  href="/"
  class="custom-content__course custom-course_close"
>
  <div class="custom-course__number">1</div>
  <div class="custom-course__data-wrap">
    <div class="custom-course__title">
      Fullstack-разработчик на&nbsp;Python Fullstack-разработчик на&nbsp;Python
      Fullstack-разработчик на&nbsp;Python
    </div>
    <div class="custom-course__description">2&nbsp;урока</div>
  </div>
  <div class="custom-course__button">Купить</div>
</a>

